# -------------------------
# Python Backend
# -------------------------
backend/venv/
backend/**/__pycache__/
backend/**/*.pyc
backend/.env
backend/reports_output/
backend/uploads/

# -------------------------
# Frontend (Next.js)
# -------------------------
frontend/node_modules/
frontend/.next/
frontend/.env

# -------------------------
# General
# -------------------------
.DS_Store
.vscode/
.env